body {
    /* font-family: Arial, sans-serif; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    /* background-color: #f8f9fa; */

    font-family: Calibri, Arial, sans-serif;
    background-color: #d8eeff;
    text-align: center;
    font-size: 19px;
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 30px;
    margin-top: 10px;
}

/* a {
    display: inline-block;
    margin-bottom: 20px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
} */

#standings-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.player-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.player-card h2 {
    color: #2c3e50;
    margin-top: 0;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

.points {
    font-size: 24px;
    color: #007bff;
    margin: 15px 0;
}

.win-status {
    font-size: 0.75em;
    color: #007bff;
}

.team-list {
    list-style: none;
    padding: 0;
}

.team-list li {
    padding: 8px;
    margin: 5px 0;
    background: #f8f9fa;
    border-radius: 4px;
    border-left: 3px solid #007bff;
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-list li.eliminated {
    background: #ffe6e6;
    border-left-color: #dc3545;
    font-style: italic;
    color: #666;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  margin: 0 10px 20px 10px;
  border-radius: 18px;
}
button:hover {
  background-color: #0056b3;
}
@media (max-width: 420px) {
    .player-card {
        padding: 7px 15px;
        width: 275px;
        margin: 0 auto;
    }
}